@font-face {
  src: url("../fonts/SB\ 어그로\ M.ttf");
  font-family: "SBAggroM";
}

body {
  background-color: #bcd8e6;
}

p {
  margin: 3px;
  font-family: SBAggroM;
}
button,
span {
  font-family: SBAggroM;
}

.container {
  display: flex;
  justify-content: center;
  width: 1024px;
  height: 900px;
  margin: 30px auto 50px;
}

.title {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title > a:first-child > img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto auto;
}

.title > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-family: SBAggroB;
  font-size: 60px;
}

/**
* 여기부터 main
*/
#main {
  display: flex;
  justify-content: center;
  width: 1024px;
  height: 100%;
  background-color: #fff7e2;
  box-shadow: 3px 3px 5px black;
}

.back,
.front {
  width: 500px;
  height: 600px;
  border: 4px solid;
}

.back {
  position: relative;
  top: 80px;
  right: 200px;
  background-color: #fff;
}

.front {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: #bcd8e6;
}

.content {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 125px;
  border: 4px solid;
  position: absolute;
  top: 200px;
  left: 400px;
  background-color: #fff;
  font-weight: 600;
}

.content > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #000;
  font-size: 36px;
  margin: 15px 0px 5px;
}

.content-span {
  color: #bcd8e6;
  text-shadow: 2px 2px 2px black;
}

.content > p {
  display: flex;
  justify-content: center;
}

.community {
  position: absolute;
  width: 270px;
  top: -50px;
  left: 670px;
}

.community:hover,
.test-button {
  cursor: pointer;
}

.community > p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: #d82251;
}

.start {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 500px;
  height: 200px;
  border: 4px solid;
  position: absolute;
  top: 520px;
  left: 340px;
  background-color: #fff;
}

.start > p {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 50px;
}

.start > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  border-radius: 20px;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #d82251;
  text-shadow: 2px 2px 2px black;
}

/**
* 여기 부터 qna
*/
#qna {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 718px;
  height: 550px;
  padding: 120px 0px 120px;
  margin-top: 100px;
  border: #000 0.5px solid;
  background-color: #fff7e2;
}

.qBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 16px 70px;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: SBAggroM;
  font-size: 50px;
  color: #6174a3;
  font-size: 50px;
  line-height: 1.2;
}

.answerBox {
  display: flex;
  justify-content: space-evenly;
}

.answerList {
  width: 160px;
  height: 70px;
  border-radius: 81px;
  margin-bottom: 20px;
  border: solid 5px #6174a3;
  background-color: #fff6e0;
  font-size: 20px;
}

.answerList:hover,
.answerList:focus {
  background-color: #6174a3;
  cursor: pointer;
  color: #fff;
}

.status {
  width: 60%;
  height: 6px;
  margin: auto;
  border-radius: 16px;
  border: solid 1px #000;
  background-color: #fff;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  background-color: #d82251;
}

/**
* 여기부터 result
*/
#result {
  display: none;
}

#result > p:first-child {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-size: 80px;
  font-weight: 800;
}

#result > p:nth-child(2) {
  display: flex;
  justify-content: center;
  margin: 12px 0px 100px;
  font-size: 25px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.result-card {
  display: block;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 20px;
  opacity: 1;
}

.result-card:hover {
  opacity: 0.5;
  cursor: pointer;
}

.result-card > a > img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.test {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.test > a {
  text-decoration: none;
}

.test-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 55px;
  border-radius: 51px;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.65);
  border: solid 4px #000;
  background-color: #fff6e0;
  font-size: 28px;
}
