{% extends 'base.html' %}
{% block container %}
{% load socialaccount %}{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    {% block extrahead %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animation.css' %}" />
    <title>취미 추천 test</title>
    {% endblock%}
  </head>

  <body>
    <div class="title">
      <a href="/">
        <p>나의</p>
        <span class="title-span"> 취미 찾기 </span>
        <p>테스트</p></a
      >
    </div>
    <div class="container">
      <section id="main">
        <div class="back">
          <div class="front"></div>
          <div class="content">당신의 취미를 찾아보시겠습니까?</div>
          <div class="start">
            <p>아래 시작하기 버튼을 눌러 시작해주세요!</p>
            <button type="button" class="btn" onclick="js:begin()">
              START!!
            </button>
          </div>
        </div>
      </section>
      <section id="qna">
        <div class="status"><div class="statusBar"></div></div>
        <div class="qBox"></div>
        <div class="answerBox"></div>
      </section>
      <section id="result">
        <p>당신의 결과는?!</p>
        <div class="resultImg"></div>
        <div class="resultImg"></div>
        <div class="resultImg"></div>
      </section>
    </div>
    <script src="././static/js/start.js" charset="utf-8"></script>
  </body>
</html>
{% endblock %}