{% load socialaccount %} {% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    {% block extrahead %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animation.css' %}" />
    <title>취미 추천 test</title>
    {% endblock %}
  </head>

  <body>
    <div class="title">
      <a href="/"
        ><img src="../static/img/logo.png" width="110px" height="110px"
      /></a>
      <a href="/">
        <p>Yolly_Yolly</p>
      </a>
    </div>
    <div class="container">
      <section id="main">
        <div class="back">
          <div class="front"></div>
          <div class="content">
            <div>
              <p>나의</p>
              <span class="content-span"> 취미 찾기 </span>
              <p>테스트</p>
            </div>
            <p>당신의 취미를 찾아보시겠습니까?</p>
          </div>
          <a href="#"
            ><div class="community">
              <p>COMMUNITY로<br />바로 이동</p>
            </div></a
          >
          <div class="start">
            <p>아래 시작하기 버튼을 눌러 시작해주세요!</p>
            <button type="button" class="btn" onclick="js:begin()">
              START!!
            </button>
          </div>
        </div>
      </section>
      <section id="qna">
        <div class="qBox"></div>
        <div class="answerBox"></div>
        <div class="status"><div class="statusBar"></div></div>
      </section>
      <section id="result">
        <p>당신에게 맞는 취미는?</p>
        <p>당신과 취향이 비슷한 사람들을 만나보세요!</p>
        <div class="cards">
          <div class="result-card">
            <a href="#" class="resultA1"></a>
          </div>
          <div class="result-card">
            <a href="{% url 'running'%}" class="resultA2"></a>
          </div>
          <div class="result-card"><a href="" class="resultA3"></a></div>
        </div>
        <div class="test">
          <a href="/"><button class="test-button">테스트 다시하기</button></a>
        </div>
      </section>
    </div>
    <script src="././static/js/data.js" charset="utf-8"></script>
    <script src="././static/js/start.js" charset="utf-8"></script>
  </body>
</html>
