body {
  background-color: #bcd8e6;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p {
  width: 105px;
  height: 46px;
  margin: 180px 63px 70px 43px;
  font-family: SegoeUI;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.login,
.password {
  width: 525px;
  height: 49px;
  box-sizing: border-box;
  margin: 10px 378px 19px 357px;
  padding: 14px 333px 14px 17px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  background-color: #fff;
  font-size: 14px;
}

.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 525px;
  height: 49px;
  margin: 25px 378px 15px 357px;
  border-radius: 8px;
  background-color: #fff7e2;
  font-size: 20px;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 49px;
  margin: 5px 378px 25px 357px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #cf2002;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
