{% extends 'base.html' %} {% block container %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/community.css' %}" />
  </head>
  <body>
    <h1>취미 커뮤니티</h1>
    <br /><br />
    <ul class="honeycomb" lang="es">
      <a class="honeycomb-cell" href="/blog">
        <img
            class="honeycomb-cell__image"
            src="{% static 'images\icon_back_1.png' %}"
        />
      </a>
      <a class="honeycomb-cell" href="/com_1">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_2.png' %}"
        />
      </a>
      <a class="honeycomb-cell" href="/com_2">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_3.png' %}"
        />
      </a>
      <a class="honeycomb-cell" href="/com_3">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_4.png' %}"
        />
      </a>
     <a class="honeycomb-cell" href="/com_4">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_5.png' %}"
        />
     </a>
     <a class="honeycomb-cell" href="/com_5">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_6.png' %}"
        />
     </a>
     <a class="honeycomb-cell" href="/com_6">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_7.png' %}"
        />
     </a>
     <a class="honeycomb-cell" href="/com_7">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_8.png' %}"
        />
     </a>
     <a class="honeycomb-cell" href="/com_8">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_9.png' %}"
        />
     </a>
     <a class="honeycomb-cell" href="/com_9">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_10.png' %}"
        />
     </a>
     <a class="honeycomb-cell" href="/com_10">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_11.png' %}"
        />
     </a>
     <a class="honeycomb-cell" href="/com_11">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_12.png' %}"
        />
     </a>
     <a class="honeycomb-cell" href="/com_12">
        <img
          class="honeycomb-cell__image"
          src="{% static 'images\icon_back_13.png' %}"
        />
     </a>

      <li class="honeycomb-cell honeycomb__placeholder"></li>
    </ul>
  </body>
</html>
{% endblock %}
