{% extends 'base.html' %}
{% block container %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/community.css' %}">

</head>
<body>
    <h1>취미 커뮤니티</h1><br><br>
    <ul class="honeycomb" lang="es">
        <li class="honeycomb-cell">
          <img class="honeycomb-cell__image" src="{% static 'images\icon_back_1.png' %}">
        </li>
        <li class="honeycomb-cell">
          <img class="honeycomb-cell__image" src="{% static 'images\icon_back_2.png' %}">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell__image" src="{% static 'images\icon_back_3.png' %}">
          </li>
          <li class="honeycomb-cell">
            <img class="honeycomb-cell__image" src="{% static 'images\icon_back_4.png' %}">
          </li>
          <li class="honeycomb-cell">
            <img class="honeycomb-cell__image" src="{% static 'images\icon_back_5.png' %}">
          </li>
          <li class="honeycomb-cell">
            <img class="honeycomb-cell__image" src="{% static 'images\icon_back_6.png' %}">
          </li>
          <li class="honeycomb-cell">
            <img class="honeycomb-cell__image" src="{% static 'images\icon_back_7.png' %}">
          </li>
        <li class="honeycomb-cell">
          <img class="honeycomb-cell__image" src="{% static 'images\icon_back_8.png' %}">
        </li>
        <li class="honeycomb-cell">
          <img class="honeycomb-cell__image" src="{% static 'images\icon_back_9.png' %}">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell__image" src="{% static 'images\icon_back_10.png' %}">
          </li>
          <li class="honeycomb-cell">
            <img class="honeycomb-cell__image" src="{% static 'images\icon_back_11.png' %}">
          </li>
        <li class="honeycomb-cell">
          <img class="honeycomb-cell__image" src="{% static 'images\icon_back_12.png' %}">
        </li>
        <li class="honeycomb-cell">
          <img class="honeycomb-cell__image" src="{% static 'images\icon_back_13.png' %}">
        </li>

        <li class="honeycomb-cell honeycomb__placeholder"></li>
      </ul>    
</body>
</html>
{% endblock %}