{% load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}} - Blog</title>
</head>

<body>
    <nav>
        <a href="/">홈</a>
        <a href="/blog/">실시간 게시글</a>
    </nav>

    {% if user.is_authenticated and user == post.author %}
    <a href="/blog/delete_post/{{post.pk}}">삭제하기</a>

    <a href="/blog/update_post/{{post.pk}}">게시글 수정하기</a> {% endif %}
    <h1>제목 : {{post.title}}</h1>
    작성자 : <a href="#">{{post.author|upper}}</a>
    <p>{{post.created_at}}</p>
    <hr>
    <h6>내용 : </h6>
    <h4>{{post.create_at}}</h4>
    <p>{{post.content}}</p>
    <br>
    <hr>
    <h6>댓글</h6>
    <br> {% if user.is_authenticated %}



    <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form | crispy }}
        </div>
        <button type="submit">Submit</button>
    </form>


    {%else %}
    <a role="button" href="#" data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a> {% endif %}

    <hr> {% if post.comment_set.exists %} {% for comment in post.comment_set.iterator %}
    <div id="comment-{{comment.pk}}">



        <h5 class="mt-0">
            {{ comment.author.username }} &nbsp;&nbsp;
            <small class="text-muted"></small>{{ comment.created_at }}</small>
        </h5>
        <p>{{ comment.content | linebreaks }}</p>
        {% if user.is_authenticated and comment.author == user %}
        <div class="float-right">
            <a role="button" class="btn btn-sm btn-info" id="comment-{{ comment.pk }}-update-btn" href="/blog/update_comment/{{ comment.pk }}/">
                                    수정
                                </a>

            <a role="button" class="btn btn-sm btn-danger" href="/blog/delete_comment/{{comment.pk}}/">삭제</a> {% if comment.created_at != comment.modified_at %}
            <class="text_muted float-right"><small>수정된 날짜 : {{comment.modified_at}}</small></class=>



                {% endif %}

        </div>
        {% endif %}

        <hr>

    </div>
    {% endfor %} {% endif %}




</body>

</html>