<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>com_1</title>
</head>

<body>

    <h1>댄스 커뮤니티</h1>
    <a href="/">홈</a>
    <hr> {% if user.is_authenticated %}
    <a href="/com_1/create_post">게시글 작성하기</a> {% endif %}



    <hr> {% for p in post_list %}
    <h3>{{p.title}}</h3>
    <p>{{p.content | truncatechars:100}}</p>
    <h3><a href="{{p.get_absolute_url}}">더보기</a></h3>


    <div>
        게시일 : {{p.created_at}} 작성자 : <a href="/about_me">{{p.author|upper}}</a>
    </div>

    <hr> {%endfor %}


</body>

</html>